<ion-view hide-nav-bar="false" hide-back-button="true" view-title="">
  <ion-content has-header="true" class="padding unlock">
    
    <h1>{{unlockData.doorStatus}}</h1>
    <p>{{unlockData.directions}}</p>
    <!-- <img ng-src="img/{{unlockData.image}}"> -->

    <div class="loader">
  	  <div class="one"></div>
  	  <div class="two"></div>
  	  <div class="three"></div>
  	</div>

<!-- 	<button class="button button-energized" ng-click="animate()">
      Animate
    </button> -->

  </ion-content>
</ion-view>
