<ion-view hide-nav-bar="false" view-title="Mod Map">
  <ion-content class="padding has-header map" has-header="true">
    
    <h1>Mod SF</h1>
    
    <div class="map-view">
    	<div class="row one">
			  <div class="col col-33 zone-4">
			  	<div ng-repeat="zone in zones[4]">
		        <img ng-src="img/{{zone.image}}">
		      </div>
			  </div>
			  <div class="col col-20"></div>
			  <div class="col zone-5">
			  	<div ng-repeat="zone in zones[5]">
		        <img ng-src="img/{{zone.image}}">
		      </div>
			  </div>
			</div>
			<div class="row two">
			  <div class="col col-33 zone-3">
			  	<div ng-repeat="zone in zones[3]">
		        <img ng-src="img/{{zone.image}}">
		      </div>
			  </div>
			  <div class="col zone-1">
			  	<div ng-repeat="zone in zones[1]">
		        <img ng-src="img/{{zone.image}}">
		      </div>
			  </div>
			</div>
			<div class="row three">
			  <div class="col col-33 zone-2">
			  	<div ng-repeat="zone in zones[2]">
		        <img ng-src="img/{{zone.image}}">
		      </div>
			  </div>
			  <div class="col"></div>
			</div>
    </div>   

  </ion-content>
</ion-view>
